<app-navbar-prof></app-navbar-prof>
<div class="container d-flex justify-content-center align-items-center" id="perfil">
    <div class="row w-75 shadow p-4 bg-white rounded">
      <!-- Coluna da esquerda: Texto -->
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h2>Maria Oliveira</h2>
        <p><strong>Email Institucional:</strong> maria.oliveiraauniversidade.edu.br</p>
        <p><strong>Email Pessoal:</strong> mariaoliveiraagmail.com</p>
        <p><strong>Telefone:</strong> (21) 91234-5678</p>
      </div>
  
      <!-- Coluna da direita: Foto -->
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="https://via.placeholder.com/200" class="img-fluid rounded-circle" alt="Foto de perfil">
      </div>
    </div>
  </div>
  