<app-navbar-prof></app-navbar-prof>
<div class="container-fluid">
  <div class="row">
    <div class="esquerda col-md-3 left-side d-flex align-items-center justify-content-center">
      <div class="frame-container">
        <div class="frame btn" (click)="triggerFileInput()">
          <img [src]="selectedImage" alt="Perfil" class="profile-img" *ngIf="selectedImage">
          <span *ngIf="!selectedImage" class="placeholder-text">Adicione uma imagem</span>
        </div>
        <input type="file" id="fileInput" accept="image/*" (change)="onImageSelected($event)" hidden>
        <div class="profile-bar">
          <span class="profile-name">{{ professorData.teacherName }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-9 right-side d-flex align-items-center justify-content-center">
      <form class="form-container">
        <div class="form-group">
          <label for="emailInst">Email Institucional</label>
          <input type="email" class="form-control" id="emailInst" [value]="professorData.institutionalEmail" disabled>
        </div>

        <!-- Campo de Email Pessoal -->
        <div class="form-group">
          <label for="emailPessoal" class="me-2">Email Pessoal</label>
          <div class="d-flex align-items-center">
            <input type="email" class="form-control me-2" id="emailPessoal" [value]="professorData.personalEmail" disabled>
            <button type="button" class="btn" (click)="toggleEmailDropdown()"><i class="fas fa-pen"></i></button>
          </div>
        </div>

        <div class="form-group dropdown-container" *ngIf="showDropdown">
          <label for="newEmail">Cadastrar Novo Email:</label>
          <input type="email" class="form-control" id="newEmail" placeholder="Digite seu novo email">
          <button type="button" class="btn btn-success mt-2" (click)="registerNewEmail()">Salvar Email</button>

          <!-- Exibe a mensagem de erro se o email for inválido -->
          <div *ngIf="emailErrorMessage" class="text-danger mt-2">
            {{ emailErrorMessage }}
          </div>
        </div>

        <!-- Campo de Telefone Pessoal -->
        <div class="form-group">
          <label for="personalPhone">Telefone Pessoal</label>
          <input type="text" class="form-control" id="personalPhone" [value]="professorData.personalPhone" disabled>
        </div>

        <!-- Campo de Telefone Comercial -->
        <div class="form-group">
          <label for="businessPhone">Telefone Comercial</label>
          <input type="text" class="form-control" id="businessPhone" [value]="professorData.businessPhone" disabled>
        </div>

        <!-- Linha de Pesquisa -->
        <div class="form-group">
          <label for="researchLine">Linha de Pesquisa</label>
          <input type="text" class="form-control" id="researchLine" [value]="professorData.researchLine" disabled>
        </div>

        <!-- Área de Atuação -->
        <div class="form-group">
          <label for="teacherArea">Área de Atuação</label>
          <input type="text" class="form-control" id="teacherArea" [value]="professorData.teacherArea" disabled>
        </div>

        <!-- Assuntos de Ensino -->
        <div class="form-group">
          <label for="teacherSubjects">Assuntos de Ensino</label>
          <input type="text" class="form-control" id="teacherSubjects" [value]="professorData.teacherSubjects.join(', ')" disabled>
        </div>
      </form>
    </div>
  </div>
</div>
