<app-navbar></app-navbar>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-10 crud">

      <h3 class="text-center">Lista de Cursos</h3>
      <!-- Campo de pesquisa -->
      <div class="text-center mb-4">
        <input type="text" class="form-control col-md-12" placeholder="Pesquisar por nome" [(ngModel)]="pesquisaNome"
          (input)="filtrarCursos()" />
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome do Curso</th>
            <th>Período</th>
            <th>Semestre</th>
            <th>Disciplinas</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <!-- Exibição dos cursos -->
          <tr *ngFor="let curso of cursosPaginados">
            <td>{{ curso.courseId }}</td> <!-- Alterado de curso.id para curso.courseId -->
            <td>{{ curso.courseName }}</td> <!-- Alterado de curso.nameCourse para curso.courseName -->
            <td>{{ curso.coursePeriod }}</td> <!-- Alterado de curso.period para curso.coursePeriod -->
            <td>{{ curso.courseSemester }}</td> <!-- Alterado de curso.semester para curso.courseSemester -->
            <td>
              <ul>
                <li *ngFor="let disciplina of curso.subjects">{{ disciplina }}</li>
                <!-- Alterado de curso.disciplina para curso.subjects -->
              </ul>
            </td>
            <td>
              <!-- Botões de Ação -->
              <button class="btn btn-primary" [routerLink]="['/admin/editar_curso', curso.courseId]"
                aria-label="Editar Curso">
                <i class="fas fa-pen"></i>
              </button>
              <button class="btn btn-danger" [disabled]="loading" (click)="excluirCurso(curso.courseId)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Navegação de páginas -->
      <nav aria-label="Navegação de página">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="paginaAtual === 1">
            <a class="page-link" (click)="irParaPagina(paginaAtual - 1)" aria-label="Anterior">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of paginas" [class.active]="paginaAtual === page">
            <a class="page-link" (click)="irParaPagina(page)">{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="paginaAtual === totalPaginas">
            <a class="page-link" (click)="irParaPagina(paginaAtual + 1)" aria-label="Próximo">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <!-- Botão de Cadastro de Novo Curso -->
      <div class="text-center mt-4">
        <button class="btn btn-success col-md-12" routerLink="/admin/cadastrar_curso">Cadastrar Novo Curso</button>
      </div>
    </div>
  </div>
</div>

<!-- Inclusão do Font Awesome para os ícones -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">