<app-navbar-prof></app-navbar-prof>

<!-- Utilize uma div 'row' para envolver as divs esquerda e direita -->
<div class="container mt-5">
  <div class="row">
    <!-- Div da esquerda -->
    <div class="col-md-6" style="background-color: rd;">
      <div class="mt-2">
        <h1>Reservas da semana</h1>
        <hr class="linha col-md-8">
      </div>
      <div class="card col-md-8 position-relative">
        <div class="card-body d-flex align-items-center">
          <h1 class="card-title m-0">L1</h1>
          <div class="vertical-line mx-3"></div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <h5 class="card-text m-0">Projeto Integrador</h5>
            <h5 class="card-text m-0">02/05</h5>
          </div>
        </div>
        <div class="card-footer text-muted">
          1° ADM
        </div>
      </div>
      <div class="card col-md-8 mt-3 position-relative">
        <div class="card-body d-flex align-items-center">
          <h1 class="card-title m-0">S12</h1>
          <div class="vertical-line mx-3"></div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <h5 class="card-text m-0">Projeto Integrador</h5>
            <h5 class="card-text m-0">02/05</h5>
          </div>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between">
          <span>1° ADM</span>
          <span>6 Semestre</span>
          <span>13:20</span>
        </div>
      </div>

      <div class="card col-md-8 mt-3 position-relative">
        <div class="card-body d-flex align-items-center">
          <h1 class="card-title m-0">S4</h1>
          <div class="vertical-line mx-3"></div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <h5 class="card-text m-0">Programação em Nuvem</h5>
            <h5 class="card-text m-0">02/05</h5>
          </div>
        </div>
        <div class="card-footer text-muted">
          1° ADM
        </div>
      </div>

    </div>
    <!-- Div da direita -->
    <div class="col-md-6" style="background-color: lue;">
      <div class="mt-2">
        <h1>Item</h1>
        <hr class="linha col-md-8">
      </div>
      <button type="button" class="btn mt-3 card col-md-10 position-relative marca">
        <div class="card-body d-flex align-items-center">
          <!-- Adicione as classes 'd-flex' e 'justify-content-center' para centralizar horizontalmente -->
          <h1 class="card-title m-0 icone d-flex justify-content-center align-items-center">
            <i class="fa fa-black-tie" style="font-size:36px"></i>
          </h1>
          <div class="vertical-line mx-3"></div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <h5 class="card-text m-0">Perfil</h5>
          </div>
        </div>
      </button>
      <button type="button" class="btn mt-3 card col-md-10 position-relative marca">
        <div class="card-body d-flex align-items-center">
          <!-- Adicione as classes 'd-flex' e 'justify-content-center' para centralizar horizontalmente -->
          <h1 class="card-title m-0 icone d-flex justify-content-center align-items-center">
            <i class="fa fa-book" style="font-size:36px"></i>
          </h1>
          <div class="vertical-line mx-3"></div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <h5 class="card-text m-0">Disciplina</h5>
          </div>
        </div>
      </button>
      <button type="button" class="btn mt-3 card col-md-10 position-relative marca">
        <div class="card-body d-flex align-items-center">
          <!-- Adicione as classes 'd-flex' e 'justify-content-center' para centralizar horizontalmente -->
          <h1 class="card-title m-0 icone d-flex justify-content-center align-items-center">
            <i class="fa fa-users" style="font-size:36px"></i>
          </h1>
          <div class="vertical-line mx-3"></div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <h5 class="card-text m-0">Cronograma</h5>
          </div>
        </div>
      </button>
      <button type="button" class="btn mt-3 card col-md-10 position-relative marca">
        <div class="card-body d-flex align-items-center">
          <!-- Adicione as classes 'd-flex' e 'justify-content-center' para centralizar horizontalmente -->
          <h1 class="card-title m-0 icone d-flex justify-content-center align-items-center">
            <i class="fa fa-television" style="font-size:36px"></i>
          </h1>
          <div class="vertical-line mx-3"></div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <h5 class="card-text m-0">Reserva</h5>
          </div>
        </div>
      </button>
      <button type="button" class="btn mt-3 card col-md-10 position-relative marca">
        <div class="card-body d-flex align-items-center">
          <!-- Adicione as classes 'd-flex' e 'justify-content-center' para centralizar horizontalmente -->
          <h1 class="card-title m-0 icone d-flex justify-content-center align-items-center">
            <i class="fa fa-map-marker" style="font-size:36px"></i>
          </h1>
          <div class="vertical-line mx-3"></div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <h5 class="card-text m-0">Impressões</h5>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>

<!-- Adicione o Bootstrap JS (opcional, para funcionalidades avançadas) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
