<app-seminavbar></app-seminavbar>
<div class="d-flex vh-100">
  <!-- Lado esquerdo: Professor -->
  <div class="flex-fill d-flex flex-column justify-content-center align-items-center bg-light">
    <img src="assets/teacher.png" alt="Ícone Professor" class="mb-3" style="width: 100px; height: auto;">
    <h2 class="text-secondary mb-4">Área do Professor</h2>
    <button 
      class="btn btn-primary btn-lg d-flex align-items-center" 
      routerLink="/login" 
      style="background-color: #c00c0c; border-color: #c00c0c;"
    >
      <i class="bi bi-person-circle me-2"></i> Acesso Professor
    </button>
  </div>

  <!-- Lado direito: Coordenador -->
  <div class="flex-fill d-flex flex-column justify-content-center align-items-center text-white" style="background-color: #c00c0c;">
    <img src="assets/admin.png" alt="Ícone Coordenador" class="mb-3" style="width: 100px; height: auto;">
    <h2 class="mb-4">Área do Coordenador</h2>
    <button 
      class="btn btn-light btn-lg d-flex align-items-center text-dark" 
      routerLink="/login_adm"
    >
      <i class="bi bi-person-badge-fill me-2"></i> Acesso Coordenador
    </button>
  </div>
</div>
