<app-seminavbar></app-seminavbar>
<div class="d-flex vh-100">
  <!-- Lado esquerdo: Professor -->
  <div class="flex-fill d-flex justify-content-center align-items-center bg-light">
    <button class="btn btn-primary btn-lg" routerLink="/login" style="background-color: #c00c0c; border-color: #c00c0c;">Acesso Professor</button>
  </div>


  <!-- Lado direito: Coordenador -->
  <div class="flex-fill d-flex justify-content-center align-items-center text-white" style="background-color: #c00c0c;">
    <button class="btn btn-light btn-lg" routerLink="/login_adm">Acesso Coordenador</button>
  </div>
</div>

