<app-navbar></app-navbar>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-10 crud">
      <h3 class="text-center">Lista de Disciplinas</h3>
      <!-- Campo de pesquisa -->
      <div class="text-center mb-4">
        <input type="text" class="form-control col-md-12" placeholder="Pesquisar por nome" [(ngModel)]="pesquisaNome" (input)="filtrarDisciplinas()" />
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Carga horária</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let discipline of disciplinasPaginadas">
            <td>{{ discipline.subjectId }}</td> <!-- Atualizado para 'subjectId' -->
            <td>{{ discipline.subjectName }}</td> <!-- Atualizado para 'subjectName' -->
            <td>{{ discipline.subjectHours }}</td> <!-- Atualizado para 'subjectHours' -->
            <td>
              <button class="btn btn-primary" [routerLink]="['/admin/editar_disc', discipline.subjectId]"
                aria-label="Editar Disciplina">
                <i class="fas fa-pen"></i>
              </button>
              <button class="btn btn-danger" [disabled]="loading" (click)="excluirDisciplina(discipline.subjectId)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Navegação de páginas -->
      <nav aria-label="Navegação de página">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="paginaAtual === 1">
            <a class="page-link" (click)="irParaPagina(paginaAtual - 1)" aria-label="Anterior">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <li class="page-item" *ngFor="let page of paginas" [class.active]="paginaAtual === page">
            <a class="page-link" (click)="irParaPagina(page)">{{ page }}</a>
          </li>

          <li class="page-item" [class.disabled]="paginaAtual === totalPaginas">
            <a class="page-link" (click)="irParaPagina(paginaAtual + 1)" aria-label="Próximo">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="text-center mt-4">
        <button class="btn btn-success col-md-12" routerLink="/admin/cadastrar_disc">Cadastrar Nova Disciplina</button>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
