<app-navbar></app-navbar>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Gerenciar Reservas</h5>
          <form (submit)="isEditing ? updateReservation() : createReservation()">
            
            <!-- Professor -->
            <div class="mb-3 mt-3">
              <label for="teacher" class="form-label"><strong>Professor:</strong></label>
              <select [(ngModel)]="form.teacher" name="teacher" class="form-control" required>
                <option *ngFor="let teacher of teachers" [value]="teacher.teacherId">
                  {{ teacher.teacherName }}
                </option>
              </select>
            </div>

            <!-- Disciplina -->
            <div class="mb-3 mt-3">
              <label for="subject" class="form-label"><strong>Disciplina:</strong></label>
              <select [(ngModel)]="form.subject" name="subject" class="form-control" required>
                <option *ngFor="let subject of subjects" [value]="subject.subjectId">
                  {{ subject.subjectName }}
                </option>
              </select>
            </div>

            <!-- Horário -->
            <div class="mb-3 mt-3">
              <label for="time" class="form-label"><strong>Horário:</strong></label>
              <select [(ngModel)]="form.time" name="time" class="form-control" required>
                <option *ngFor="let time of times" [value]="time.timeId">
                  {{ time.startTime }}-{{ time.endTime }}
                </option>
              </select>
            </div>

            <!-- Sala -->
            <div class="mb-3 mt-3">
              <label for="room" class="form-label"><strong>Sala:</strong></label>
              <select [(ngModel)]="form.room" name="room" class="form-control" required>
                <option *ngFor="let room of rooms" [value]="room.roomId">
                  {{ room.roomType }} {{ room.roomFloor }}
                </option>
              </select>
            </div>

            <!-- Curso -->
            <div class="mb-3 mt-3">
              <label for="course" class="form-label"><strong>Curso:</strong></label>
              <select [(ngModel)]="form.course" name="course" class="form-control" required>
                <option *ngFor="let course of courses" [value]="course.courseId">
                  {{ course.courseName }}
                </option>
              </select>
            </div>

            <!-- Data -->
            <div class="mb-3 mt-3">
              <label for="date" class="form-label"><strong>Data:</strong></label>
              <input [(ngModel)]="form.date" name="date" type="date" class="form-control" required />
            </div>

            <div class="d-grid gap-2 mt-4 mb-3">
              <button type="submit" class="btn btn-verde texto-branco">
                {{ isEditing ? 'Atualizar' : 'Adicionar' }}
              </button>
            </div>
            <div class="d-grid gap-2 mb-3">
              <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
