<app-seminavbar></app-seminavbar>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <div class="card login">
        <div class="card-body">
          <h5 class="card-title text-center">Login do Coordenador</h5>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3 mt-3">
              <label for="adminEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="adminEmail" formControlName="adminEmail" required>
            </div>
            <div class="mb-3 mt-4">
              <label for="adminPassword" class="form-label">Senha</label>
              <input type="password" class="form-control" id="adminPassword" formControlName="adminPassword" required>
            </div>
            <div *ngIf="loginError" class="alert alert-danger mt-3" role="alert">
              Usuário ou senha incorretos!
            </div>
            <div class="d-grid gap-2 mt-4 mb-3">
              <button type="submit" class="btn btn-verde texto-branco">Entrar</button>
            </div>
            <a routerLink="/recuperar-senha"><p>Recuperar a senha</p></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
