<app-navbar></app-navbar>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-10 crud">
      <h3 class="text-center">Lista de Salas</h3>

      <!-- Campo de pesquisa -->
      <div class="text-center mb-4">
        <input type="text" class="form-control col-md-12" placeholder="Pesquisar por tipo" [(ngModel)]="pesquisaTipo"
          (input)="filtrarSalas()" />
      </div>


      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Capacidade Máxima</th>
            <th>Andar</th>
            <th>Recursos</th>
            <th>Disponibilidade</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sala of salasPaginadas">
            <td>{{ sala.roomId }}</td>
            <td>{{ sala.roomType }}</td>
            <td>{{ sala.roomCapacity }}</td>
            <td>{{ sala.roomFloor }}</td>
            <td>{{ sala.roomResources }}</td>
            <td>{{ sala.roomAvailability }}</td>
            <td>
              <!-- Ajuste aqui para garantir que o valor correto está sendo passado como id -->
              <button class="btn btn-primary" [routerLink]="['/admin/editar_sala', sala.roomId]"
                aria-label="Editar Salas">
                <i class="fas fa-pen"></i>
              </button>


              <button class="btn btn-danger" [disabled]="loading" (click)="excluirSalas(sala.roomId)">

                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Navegação de páginas -->
      <nav aria-label="Navegação de página">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="paginaAtual === 1">
            <a class="page-link" (click)="irParaPagina(paginaAtual - 1)" aria-label="Anterior">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <li class="page-item" *ngFor="let page of paginas" [class.active]="paginaAtual === page">
            <a class="page-link" (click)="irParaPagina(page)">{{ page }}</a>
          </li>

          <li class="page-item" [class.disabled]="paginaAtual === totalPaginas">
            <a class="page-link" (click)="irParaPagina(paginaAtual + 1)" aria-label="Próximo">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="text-center mt-4">
        <button class="btn btn-success col-md-12" routerLink="/admin/cadastrar_sala">Cadastrar Nova Sala</button>
      </div>
    </div>
  </div>
</div>