.vermeio {
  background-color: #c00c0c;
}

.texto-branco {
  color: white;
}

.login {
  height: 400px; /* Defina a altura desejada em pixels (por exemplo, 300px) */

}

.btn-verde {
  background-color: #0b9247;
}

.cps-header__logo {
  margin-top: 7px;
  margin-right: 980px;
}

